<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="1" value="HomeworkFive,HomeworkFive.Model.ChiliFryMeat"/>
  <add key="2" value="HomeworkFive,HomeworkFive.Model.TasteSnake"/>
  <add key="3" value="HomeworkFive,HomeworkFive.Model.WoundBloodWang"/>

  <add key="4" value="HomeworkFive,HomeworkFive.Factory.ChiliFryMeatFactory"/>
  <add key="5" value="HomeworkFive,HomeworkFive.Factory.TasteSnakeFactory"/>
  <add key="6" value="HomeworkFive,HomeworkFive.Factory.WoundBloodWangFactory"/>


</appSettings>
</configuration>