<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="1" value="HomeworkFiveModel,HomeworkFiveModel.Model.ChiliFryMeat"/>
  <add key="2" value="HomeworkFiveModel,HomeworkFiveModel.Model.TasteSnake"/>
  <add key="3" value="HomeworkFiveModel,HomeworkFiveModel.Model.WoundBloodWang"/>
  <add key="4" value="HomeworkFiveModel,HomeworkFiveModel.Model.PigStewPowder"/>
  <add key="5" value="HomeworkFiveModel,HomeworkFiveModel.Model.PanPackMeat"/>
  <add key="6" value="HomeworkFiveModel,HomeworkFiveModel.Model.ThreeFresh"/>
  <add key="7" value="HomeworkFiveModel,HomeworkFiveModel.Model.BackPanMeat"/>
  <add key="8" value="HomeworkFiveModel,HomeworkFiveModel.Model.EggFriedRice"/>
  <add key="9" value="HomeworkFiveGuangDongModel,HomeworkFiveGuangDongModel.WhiteCutChicken"/>
  <add key="10" value="HomeworkFiveGuangDongModel,HomeworkFiveGuangDongModel.BakePig"/>
  

  
  <add key="104" value="HomeworkFive,HomeworkFive.Factory.ChiliFryMeatFactory"/>
  <add key="105" value="HomeworkFive,HomeworkFive.Factory.TasteSnakeFactory"/>
  <add key="106" value="HomeworkFive,HomeworkFive.Factory.WoundBloodWangFactory"/>


</appSettings>
</configuration>